:host{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all,.side-nav{
    transition: all .3s ease-in-out;
}
.top-nav{
    position: sticky;
    top: 0;
    z-index: 9;

}
.content{
    min-height: calc(100vh) !important;
    background-color: var(--bg-color);
    padding-top: 1px;
}

@media screen and (max-width:768px) {
    .side-nav{
        display: none;
    }
}