<div class="container-fluid py-5 main d-none">
    <div class="row g-4" *ngIf="contacts[0];else msg">
        <div class="col-md-4"  *ngFor="let contact of contacts">
            <div class="contact">
                <div class="contact-head">
                    <img src="../../../assets/images/user.png" alt="">
                </div>
                <div class="contact-body">
                    <h2>{{contact.name}}</h2>
                    <span>{{contact.email}}</span>
                </div>
                <div class="contact-footer">
                    <button (click)="openLayer(contact)" type="button" >Show Message</button>
                </div>
                <i (click)="passId(contact._id)" class="fa-regular fa-trash-can delete-contact"></i>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 main-content" >
    <div class="row g-4 justify-content-between align-items-center">
        <div class="col-md-4">
            <div class="filter">
                <ul class="list-unstyled text-white">
                    <li (click)="clearSearch()">
                        <i *ngIf="!sendDateFlag" class="fa-solid fa-filter"></i>
                        <i *ngIf="sendDateFlag" class="fa-solid fa-filter-circle-xmark"></i>
                        <span *ngIf="!sendDateFlag">Filter By</span>
                        <span *ngIf="sendDateFlag">reset Filter</span>
                    </li>
                    <li (click)="toggleFilter('sendDateFlag')">
                        <span *ngIf="!sendDateFlag">Sending Date</span>
                        <input [(ngModel)]="sendDate" *ngIf="sendDateFlag" type="date" title="send date">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-end">
                <i *ngIf="!isEdit" (click)="isEdit = !isEdit" class="fa fa-edit  fa-2x"></i>
                <i *ngIf="isEdit" (click)="isEdit = !isEdit" class="fa fa-x fa-2x"></i>
            </div>
        </div>
    </div>
    <table class="my-table m-auto" *ngIf="contacts[0];else msg">
        <thead>
            <tr>
                <th>Num</th>
                <th>Avatar</th>
                <th>Sender Name</th>
                <th>Sender Email</th>
                <th>Sender Phone</th>
                <th>Sending Date</th>
                <th *ngIf="!isEdit">Details</th>
                <th *ngIf="isEdit">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts | sendDateSearch : sendDate ; let i = index ; let e = even">
                <td [class.bg-row]="e">{{i+1}}</td>
                <td [class.bg-row]="e"><img src="./assets/images/user.png" alt=""></td>
                <td [class.bg-row]="e">{{contact.name}}</td>
                <td [class.bg-row]="e">{{contact.email}}</td>
                <td [class.bg-row]="e">{{contact.phone}}</td>
                <td [class.bg-row]="e">{{contact.date | date:'dd/MMMM/yyyy'}}</td>
                <td [class.bg-row]="e" *ngIf="!isEdit" (click)="openLayer(contact)" class="show-details"><i class="fa fa-eye"></i></td>
                <td [class.bg-row]="e" *ngIf="isEdit"  (click)="passId(contact._id)" class="show-details"><i class="fa fa-trash-can"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div (keydown)="handleKeyboardEvent($event)" (click)="isClicked = !isClicked" *ngIf="isClicked" class="position-fixed top-0 bottom-0 start-0 end-0 message-layer d-flex justify-content-center align-items-center">
    <div (click)="stop($event)" class="message d-flex flex-column gap-4">
        <div>
            <h2 class="sender text-capitalize">{{contact.name}}<i class="fa fa-user-alt"></i></h2>
        </div>
        <div class="d-flex flex-wrap gap-3 justify-content-between align-items-center message-title">
            <h3><i class="fa fa-envelope pt-1"></i> {{contact.email}} <a class="text-decoration-none text-white-50" [href]="'https://mail.google.com/mail/?view=cm&fs=1&to=' + contact.email + '&su=' + 'Skybuilders Suport' + '&body=' + 'Dear '+ contact.name"  target="_blank" title="reply"><i class="fa fa-reply"></i></a></h3>
            <h3><i class="fa fa-phone"></i> {{contact.phone}}</h3>
        </div>
        <div class="main-message">
            <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center content-title">
                <h4 class="d-flex align-items-center gap-2">Message <i class="fa fa-message pt-1"></i></h4>
                <span><i class="fa-regular fa-calendar-days"></i> {{contact.date| date:'EEEE, MMMM d, y, h:mm:ss a zzzz' }}</span>
            </div>
            <div class="content mt-2">
                <p>{{contact.description}}</p>
            </div>
        </div>
        <i (click)="isClicked = !isClicked" class="fa-solid fa-xmark close-layer"></i>
    </div>

</div>


<div (click)="isDelClicked = !isDelClicked" *ngIf="isDelClicked" class="position-fixed top-0 bottom-0 end-0 start-0 d-flex flex-column  justify-content-center align-items-center confirm">
    <div (click)="stop($event)" class="confirm-form gap-3 w-50 text-center p-4 d-flex flex-column">
        <h2>Are you sure you want to delete this item?</h2>
        <p class="text-muted"><strong >Note : </strong>This action cannot be undone.</p>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-wrap">
            <button (click)="isDelClicked = !isDelClicked" type="button" class="discard">Discard</button>
            <button (click)="deleteContact(contactId)" type="button" class="delete">Delete</button>
        </div>
    </div>
    
</div>

<ng-template #msg>
    <div class="msg flex-column ">
        <h1 class="text-white">Empty 😔</h1>
        <p >There is no contacts yet, please be patient</p>
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-template>
