<div class="main container-fluid mt-4" *ngIf="users[0];else msg">
    <div class="row g-4 logic-buttons justify-content-between align-items-center">
        <div class="col-md-6">
            <div class="text-white  filter">
                <ul class="list-unstyled d-flex">
                    <li (click)="clearSearch()">
                        <i *ngIf="!nameFlag && !phoneFlag && !statusFlag" class="fa-solid fa-filter"></i>
                        <i *ngIf="nameFlag || phoneFlag || statusFlag" class="fa-solid fa-filter-circle-xmark"></i>
                        <span *ngIf="!nameFlag && !phoneFlag && !statusFlag" class="p-2">Filter By</span>
                        <span *ngIf="nameFlag || phoneFlag || statusFlag" class="p-2">Reset Filter</span>
                    </li>
                    <li (click)="toggleFilter('nameFlag')">
                        <span *ngIf="!nameFlag">Name</span>
                        <input [(ngModel)]="nameSearch" *ngIf="nameFlag" type="text" placeholder="Enter Name" title="name">
                    </li>
                    <li (click)="toggleFilter('statusFlag')">
                        <span  *ngIf="!statusFlag">Status</span>
                        <select [(ngModel)]="statusSearch" *ngIf="statusFlag"  title="status">
                            <option value="" selected disabled>Select</option>
                            <option [value]="status" *ngFor="let status of status">{{status}}</option>
                        </select>
                    </li>
                    <li (click)="toggleFilter('phoneFlag')" >
                        <span *ngIf="!phoneFlag">Phone</span>
                        <input [(ngModel)]="phoneSearch" *ngIf="phoneFlag" type="text" placeholder="Phone Number" title="Phone">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center  w-100 ">
                <button (click)="addUser()" type="button" class="d-block ms-auto" >Add User</button>
            </div>
        </div>
    </div>
    <div class="overflow-auto">
        <table class="users-table">
            <thead>
                <tr>
                    <th>Num</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th class="text-start ps-5" colspan="3">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | usernamesearch:nameSearch | status:statusSearch | phone:phoneSearch ; let i=index ; let e = even">
                    <td [class.bg-row]="e">{{i+1}}</td>
                    <td [class.bg-row]="e" class="text-capitalize">{{user.name}}</td>
                    <td [class.bg-row]="e" class="text-lowercase">{{user.email}}</td>
                    <td [class.bg-row]="e">{{user.phone}}</td>
                    <td [class.bg-row]="e"><span [class]="user.status == 'user' ? 'user-status' : 'admin-status' ">{{user.status}}</span></td>
                    <td [class.bg-row]="e"><i (click)="updateUser(user)" class="fa fa-edit fa-xl me-3"></i></td>
                    <td [class.bg-row]="e"><i (click)="passId(user._id)" class="fa fa-trash-can fa-xl me-3"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div (click)="isDelClicked = !isDelClicked" *ngIf="isDelClicked" class="position-fixed top-0 bottom-0 end-0 start-0 d-flex flex-column  justify-content-center align-items-center confirm">
    <div (click)="stop($event)" class="confirm-form gap-3 w-50 text-center p-4 d-flex flex-column">
        <h2>Are you sure you want to delete this User?</h2>
        <p class="text-muted"><strong >Note : </strong>This action cannot be undone.</p>
        <div class="d-flex justify-content-center align-items-center gap-4 flex-wrap">
            <button (click)="isDelClicked = !isDelClicked" type="button" class="discard">Discard</button>
            <button (click)="deleteUser(userId)" type="button" class="delete">Delete</button>
        </div>
    </div>
</div>
<ng-template #msg>
    <div class="msg flex-column ">
        <h1 class="text-white">Empty 😔</h1>
        <p >There is no Users yet, please add some</p>
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-template>